.card-icon-container {
  display: none;
}
.product-card:hover .card-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  transform: translate(0.5rem, 0.5rem);
  border-radius: 0.3rem;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  cursor: pointer;
}
/* card-icon-container absolute top-0 left-0 w-full h-full bg-black bg-opacity-40 flex items-center justify-center gap-2 */
