@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg-color: #1b6392;
  --button-orange: #fa8232;
  --button-warning: #ebc80c;
  --gray-color: #5f6c72;
}
