@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Public Sans", sans-serif;
}

:root {
  --primary-bg-color: #1b6392;
  --button-orange: #fa8232;
  --button-warning: #ebc80c;
  --gray-color: #5f6c72;
}
.inner-container {
  @apply xl:px-4 md:px-3 px-2 sm:px-1;
}
.my-container {
  @apply xl:mx-20 md:mx-10 mx-4 sm:mx-2;
}

.add-category-submit-button:hover {
  @apply hover:border-[#FF8C00] hover:bg-white hover:text-[#FF8C00] !important;
}
