@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg-color: #1b6392;
  --button-orange: #fa8232;
  --button-warning: #ebc80c;
  --gray-color: #5f6c72;
}
.inner-container {
  @apply xl:px-20 md:px-10 px-4 sm:px-2;
}
.my-container {
  @apply xl:mx-20 md:mx-10 mx-4 sm:mx-2;
}
